{% extends "base.html" %}
{% block body %}
<h2>Actualizar Taller</h2>
<form action="actualizar_taller" method="get"> {% csrf_token %}
    <div class="col-6">
        <div class="input-group">
            <span class="input-group-text">taller</span>
            <input type="text" name="rutTaller" class="form-control" maxlength="25" required />
            <input type="submit" class="btn btn-success" value="Buscar Insumo" />
        </div>
        <div class="mb-3 col-6">
            <div class="form-text">
                {{mensaje}}
            </div>
        </div>
    </div>
</form>
<hr>
<!--
{{usr}}
<hr>
-->
<form action="actualizar_taller" method="post"> {% csrf_token %}
    <table>
        <tr>
            <td></td>
            <td><label class="form-label">Datos actuales</label></td>
            <td><label class="form-label">Datos nuevos</label></td>
        </tr>
        <tr>
            <td><label class="form-label">rutTaller</label></td>
            <td><input type="number" class="form-control" disabled value="{{usr.rutTaller}}"></td>
        </tr>
        <tr>
            <td><label class="form-label">razonSocial</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.razonSocial}}"></td>
            <td><input class="form-control" type="text" name="razonSocial" maxlength="40" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">comuna</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.comuna}}"></td>
            <td><input class="form-control" type="date" name="comuna"  /></td>
        </tr>
        <tr>
            <td><label class="form-label">direccion</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.direccion}}"></td>
            <td><input class="form-control" type="text" name="direccion" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">telefono</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.telefono}}"></td>
        </tr>
        <tr>
            <td><label class="form-label">correo</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.correo}}"></td>
            <td><input class="form-control" type="text" name="correo" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><label class="form-label">pagina</label></td>
            <td><input type="text" class="form-control" disabled value="{{usr.pagina}}"></td>
            <td><input class="form-control" type="text" name="pagina" maxlength="60" required /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="submit" class="btn btn-primary" value="Actualizar" />
                    <input type="reset" class="btn btn-danger" value="Borrar" />
                </div>
            </td>
        </tr>
    </table>
</form>
{% endblock %}