{% extends "base.html" %}
{% block body %}
<div class="container mt-2">
<h2>Actualizar Taller</h2>
<form action="actualizar_taller" method="get"> {% csrf_token %}
    <div class="col-6">
        <div class="input-group">
            <span class="input-group-text">Taller</span>
            <input type="text" name="rutTaller" class="form-control" maxlength="25" required />
            <input type="submit" class="btn btn-primary" value="Buscar Insumo" />
        </div>
        <div class="mb-3 col-6">
            <div class="form-text">
                {{mensaje}}
            </div>
        </div>
    </div>
</form>
<hr>
<!--
{{usr}}
<hr>
-->
<form action="actualizar_taller" method="post"> {% csrf_token %}
    <table class="table table-borderless">
        <tr class="table-primary">
            <td></td>
            <td><h6><label class="form-label">Datos actuales</label></h6></td>
            <td><h6><label class="form-label">Datos nuevos</label></h6></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Rut Taller</label></h6></td>
            <td><input type="number" class="form-control" disabled value="{{usr.rutTaller}}"></td>
            <td><input type="number" class="form-control" disabled value="{{usr.rutTaller}}"></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Razon Social</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.razonSocial}}"></td>
            <td><input class="form-control" type="text" name="razonSocial" maxlength="40" required /></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Comuna</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.comuna}}"></td>
            <td><input class="form-control" type="text" name="comuna"  /></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Direccion</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.direccion}}"></td>
            <td><input class="form-control" type="text" name="direccion" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Telefono</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.telefono}}"></td>
            <td><input type="text" class="form-control" name="telefono"></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Correo</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.correo}}"></td>
            <td><input class="form-control" type="email" name="correo" maxlength="60" required /></td>
        </tr>
        <tr>
            <td><h6><label class="form-label">Pagina</label></h6></td>
            <td><input type="text" class="form-control" disabled value="{{usr.pagina}}"></td>
            <td><input class="form-control" type="text" name="pagina" maxlength="60" required /></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="d-flex justify-content-end">
                <div class="btn-group mt-3" id="btn-update-data" role="group" aria-label="Basic example">
                    <input type="submit"  class="btn btn-primary" value="Actualizar" />
                </div>
            </td>
        </tr>
    </table>
</form>
</div>
<style>
    #btn-update-data{
        min-width: 50%;
    }
</style>
{% endblock %}