{% extends "base.html" %}

{% block body %}


{% block navegador%}
    {% include "navegadorClientes.html"%}
{% endblock %}
<div class="container" id="buscar-taller">
    <h2>Buscar Taller</h2>
    <form action="buscar_talleres" method="GET" class="row"> {% csrf_token %}
        <div class="col-12 col-lg-6 d-flex">
        <input type="text" class="form-control mr-lg-2" name="buscar">
        <input type="submit" class="btn btn-primary" value="Buscar">
    </div>
</form>



{% for taller in talleres %}
    <table class="table table-bordered table-striped" style="visibility:{{visibilidad}};">
       <h5 class="mt-4">{{taller}}</h5>       
        <tr>
            <th scope="row">Rut Taller</th>
            <td >{{taller.rutTaller}}</td>
      
        </tr>
        <tr>
            <th scope="row">Razon social</th>
            <td>{{taller.razonSocial}}</td>
         
        </tr>
        <tr>
            <th scope="row">Comuna</th>
            <td value="">{{taller.comuna}}</td>
      
        </tr>
        <tr>
            <th scope="row">Direccion</th>
            <td value="">{{taller.direccion}}</td>
         
        </tr>
        <tr>
            <th scope="row">Telefono</th>
            <td value="">{{taller.telefono}}</td>
      
        </tr>
        <tr>
            <th scope="row">Correo</th>
            <td value="">{{taller.correo}}</td>
         
        </tr>
        <tr>
            <th scope="row">Pagina</th>
            <td value="">{{taller.pagina}}</td>
      
        </tr>
        <tr>
            <th scope="row">Nombre Representante</th>
            <td value="">{{taller.rutRepresentante.nombre}}</td>
         
        </tr>
   
    </table>
    <div class="row w-100">
        {% for comentario in comment %}
        {% if comentario.rutTaller == taller %}
        <div class="row w-100">
            <h4>Usuario: {{comentario.rutCliente.nick}}</h4>
        </div>
        <div class="container-fluid">
            <textarea class="w-100" name="" disabled rows="5">{{comentario.comentario}}</textarea>
        </div>  
        {% endif %}
        {% endfor %}
    </div>

{{now}}
    <form action="buscar_talleres" method="POST">
        {% csrf_token %}

     <div style="visibility: hidden;">
        <input type="text" name="rutTaller" value="{{taller.rutTaller}}" maxlength="20" required="" id="id_rutTaller">
        <input type="text" value="{{usr.rutCliente}}" name="rutCliente" maxlength="15" required="" id="id_rutCliente">
     </div>
          
       
        <div class="row">
            <div class="col">
                <label for="">Comentario</label>
                <input class="form-control" type="text" name="comentario">
            </div>
            <div class="col-2">
                <label for="">Fecha</label>
                <input class="form-control" type="date" value="" name="fecha" id="">
            </div>
        </div>
        <br>
        <label for="">Evaluacion</label>
        <input type="number" name="evaluacion">
     
          <input type="submit" value="Enviar">
    </form>
    {% endfor %}
{% endblock %}
</div>
<style>
    #buscar-taller th{
        width: 40%;
    }
</style>