{% extends 'base.html' %}

{% block body %}
{% block navegador%}
    {% include "navegadorLogin.html"%}
{% endblock %}

{% if usr %}

<form action="registro_taller" class="container mt-3" method="POST"> {% csrf_token %}
    <table>
        <tr>
            <th>Rut Taller</th>
        </tr>
        <tr>
            <th><input type="text" name="rutTaller"></th>
        </tr>
        <tr>
            <th>Razon social</th>
        </tr>
        <tr>
            <th><input type="text" name="razonSocial"></th>
        </tr>
        <tr>
            <th>Comuna</th>
        </tr>
        <tr>
            <th><input type="text" name="comuna"></th>
        </tr>
        <tr>
            <th>Dirección</th>
        </tr>
        <tr>
            <th><input type="text" name="direccion"></th>
        </tr>
        <tr>
            <th>Telefono</th>
        </tr>
        <tr>
            <th><input type="text" name="telefono"></th>
        </tr>
        <tr>
            <th>correo</th>
        </tr>
        <tr>
            <th><input type="text" name="correo"></th>
        </tr>
        <tr>
            <th>Pagina</th>
        </tr>
        <tr>
            <th><input type="text" name="pagina"></th>
        </tr>
        <tr>
            <th>Rut representante</th>
        </tr>
        <select name="rutRepresentante" id="id_rutRepresentante">
            <option value="{{usr.rutRepresentante}}" selected="">{{usr.rutRepresentante}}</option>

          
          </select>
    </table>
    <div class="mt-3">
        <input type="submit">
    </div>
    {{mensaje}}
</form>
{% else %}

{% endif %}


{% endblock %}