{% extends "base.html" %}
{% block body %}

{% block navegador%}
    {% include "navegadorClientes.html"%}
{% endblock %}
<div class="container">
<h3 class="mt-3">Bienvenido Cliente {{cliente.nick}}!</h3>
<div class="row w-100 d-flex">

<table class="table mt-5 col-6">
    <tbody>
        <tr class="table-info">
            <th scope="row"><h3>Mis Datos</h3></th>
            <td></td>
          </tr>
      <tr>
        <th scope="row">Rut</th>
        <td>{{cliente.rutCliente}}</td>
      </tr>
      <tr>
        <th scope="row">Correo</th>
        <td>{{cliente.correo}}</td>
      </tr>
      <tr>
        <th scope="row">Fecha Nacimiento</th>
        <td>{{cliente.fechaNacimiento}}</td>
      </tr>
      <tr>
        <th scope="row">Marca Vehiculo</th>
        <td>{{cliente.marca}}</td>
      </tr>
      <tr>
        <th scope="row">Modelo</th>
        <td>{{cliente.modelo}}</td>
      </tr>
      <tr>
        <th scope="row">Tipo Vehiculo</th>
        <td>{{cliente.tipoVehiculo}}</td>
      </tr>
      <tr>
        <th scope="row">año</th>
        <td>{{cliente.anno}}</td>
      </tr>
      <tr>
        <th scope="row">Patente</th>
        <td>{{cliente.patente}}</td>
      </tr>
    </tbody>
  </table>

<a class="btn btn-primary d-none" href="{% url 'editar_cliente' cliente.rutCliente %}" >Editar Cuenta</a>
</div>
</div>
{% endblock %}